
  <div><%= f.label :nombres %><br />
  <%= f.text_field :nombres %></div>

  <div><%= f.label :apellidos %><br />
  <%= f.text_field :apellidos %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>