<%= form_for @establecimiento, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :codigo_jurisdiccional, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :codigo_jurisdiccional, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cue, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cue, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anexo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :anexo, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cue_anexo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cue_anexo, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sector, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sector, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ambito, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ambito, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :localidad_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :domicilio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :domicilio, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                establecimientos_path, :class => 'btn' %>
  </div>
<% end %>
