<%= form_for(@establecimiento) do |f| %>
  <% if @establecimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@establecimiento.errors.count, "error") %> prohibited this establecimiento from being saved:</h2>

      <ul>
      <% @establecimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo_jurisdiccional %><br />
    <%= f.text_field :codigo_jurisdiccional %>
  </div>
  <div class="field">
    <%= f.label :cue %><br />
    <%= f.number_field :cue %>
  </div>
  <div class="field">
    <%= f.label :anexo %><br />
    <%= f.number_field :anexo %>
  </div>
  <div class="field">
    <%= f.label :cue_anexo %><br />
    <%= f.number_field :cue_anexo %>
  </div>
  <div class="field">
    <%= f.label :sector %><br />
    <%= f.text_field :sector %>
  </div>
  <div class="field">
    <%= f.label :ambito %><br />
    <%= f.text_field :ambito %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :localidad_id %><br />
    <%= f.number_field :localidad_id %>
  </div>
  <div class="field">
    <%= f.label :domicilio %><br />
    <%= f.text_field :domicilio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
