<h1>Listing establecimientos</h1>

<table>
  <tr>
    <th>Numero</th>
    <th>Nombre</th>
    <th>Localidad</th>
    <th>Nivel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @establecimientos.each do |establecimiento| %>
  <tr>
    <td><%= establecimiento.numero %></td>
    <td><%= establecimiento.nombre %></td>
    <td><%= establecimiento.localidad_id %></td>
    <td><%= establecimiento.nivel_id %></td>
    <td><%= link_to 'Show', establecimiento %></td>
    <td><%= link_to 'Edit', edit_establecimiento_path(establecimiento) %></td>
    <td><%= link_to 'Destroy', establecimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Establecimiento', new_establecimiento_path %>
