<%- model_class = Establecimiento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table id="tabla-establecimientos" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:codigo_jurisdiccional) %></th>
      <th><%= model_class.human_attribute_name(:cue) %></th>
      <th><%= model_class.human_attribute_name(:anexo) %></th>
      <th><%= model_class.human_attribute_name(:cue_anexo) %></th>
      <th><%= model_class.human_attribute_name(:sector) %></th>
      <th><%= model_class.human_attribute_name(:ambito) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:localidad_id) %></th>
      <th><%= model_class.human_attribute_name(:domicilio) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @establecimientos.each do |establecimiento| %>
      <tr>
        <td><%= establecimiento.codigo_jurisdiccional %></td>
        <td><%= establecimiento.cue %></td>
        <td><%= establecimiento.anexo %></td>
        <td><%= establecimiento.cue_anexo %></td>
        <td><%= establecimiento.sector %></td>
        <td><%= establecimiento.ambito %></td>
        <td><%= establecimiento.nombre %></td>
        <td><%= establecimiento.localidad %></td>
        <td><%= establecimiento.domicilio %></td>
        <td>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
              Acciones
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Ver', establecimiento %></li>
              <li><%= link_to 'Editar', edit_establecimiento_path(establecimiento) %></li>
              <li><%= link_to 'Eliminar', establecimiento, method: :delete, data: { confirm: 'Seguro desea eliminar?' } %></li>
              </li>
            </ul>
          </div>
        </td>       
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_establecimiento_path,
            :class => 'btn btn-primary' %>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-establecimientos').dataTable({
              "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
              "sPaginationType": "bootstrap",
              "aoColumnDefs": [
                { "bSearchable": false, "aTargets": [ 9 ] }
              ],
              "oLanguage": {
                    "sUrl": "language.es.json",
                },
                "aaSorting": [[ 0, "desc" ]],
            });
    });
</script>