<p id="notice"><%= notice %></p>

<p>
  <b>Codigo jurisdiccional:</b>
  <%= @establecimiento.codigo_jurisdiccional %>
</p>

<p>
  <b>Cue:</b>
  <%= @establecimiento.cue %>
</p>

<p>
  <b>Anexo:</b>
  <%= @establecimiento.anexo %>
</p>

<p>
  <b>Cue anexo:</b>
  <%= @establecimiento.cue_anexo %>
</p>

<p>
  <b>Sector:</b>
  <%= @establecimiento.sector %>
</p>

<p>
  <b>Ambito:</b>
  <%= @establecimiento.ambito %>
</p>

<p>
  <b>Nombre:</b>
  <%= @establecimiento.nombre %>
</p>

<p>
  <b>Localidad:</b>
  <%= @establecimiento.localidad_id %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @establecimiento.domicilio %>
</p>


<%= link_to 'Edit', edit_establecimiento_path(@establecimiento) %> |
<%= link_to 'Back', establecimientos_path %>
