<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @establecimiento.numero %>
</p>

<p>
  <b>Nombre:</b>
  <%= @establecimiento.nombre %>
</p>

<p>
  <b>Localidad:</b>
  <%= @establecimiento.localidad_id %>
</p>

<p>
  <b>Nivel:</b>
  <%= @establecimiento.nivel_id %>
</p>


<%= link_to 'Edit', edit_establecimiento_path(@establecimiento) %> |
<%= link_to 'Back', establecimientos_path %>
