<%= form_for @persona, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar, tiene los siguientes errores:</h2>
      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Datos Personales</legend>
  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Nombres:</strong></label>
        <div class="controls">
          <%= f.text_field :nombres, :style => "width:100%;", :placeholder => "Ingrese sus nombres" %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Apellidos:</strong></label>
        <div class="controls">
          <%= f.text_field :apellidos, :style => "width:100%;", :placeholder => "Ingrese sus apellidos" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Tipo de documento:</strong></label>
        <div class="controls">
          <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Nro de documento:</strong></label>
        <div class="controls">
          <%= f.text_field :nro_documento, :style => "width:100%;", :placeholder => "Ingrese su número de documento" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Calle:</strong></label>
        <div class="controls">
          <%= f.text_field :calle, :style => "width:100%;", :placeholder => "Ingrese su dirección" %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Nro. calle:</strong></label>
        <div class="controls">
          <%= f.text_field :nro_calle, :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">    
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Depto:</strong></label>
        <div class="controls">
          <%= f.text_field :depto, :style => "width:100%;" %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Piso:</strong></label>
        <div class="controls">
          <%= f.text_field :piso, :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Estado civil:</strong></label>
        <div class="controls">
          <%= f.collection_select(:estado_civil_id, EstadoCivil.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Sexo:</strong></label>
        <div class="controls">
          <%= f.collection_select(:sexo_id, Sexo.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Fecha de nacimiento:</strong></label>
        <div class="controls">
          <%= f.datepicker :fecha_nacimiento, :id => "datepicker" %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Localidad:</strong></label>
        <div class="controls">
          <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Teléfono de contacto:</strong></label>
        <div class="controls">
          <%= f.text_field :telefono_contacto, :style => "width:100%;", :placeholder => "Ingrese su teléfono o celular de contacto" %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Correo electrónico:</strong></label>
        <div class="controls">
          <%= f.text_field :email, :style => "width:100%;", :placeholder => "Ingrese su correo electrónico" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Situación de Revista:</strong></label>
        <div class="controls">
          <%= f.collection_select(:situacion_revista_id, SituacionRevistum.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                personas_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
        
    $("#datepicker").datepicker({dateFormat:"dd-mm-yy",
    dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
    changeYear: true,
    yearRange: "1910:<%= Date.today.year + 10 %>", 
    monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
    monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
    navigationAsDateFormat: true,
    nextText: "Sig", 
    prevText: "Ant", 
    showAnim: "explode"
      });

</script>
