<%= form_for @persona, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombres, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombres, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apellidos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apellidos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_documento_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Número de Documento", :class => 'control-label'  %>
    <div class="controls">
      <%= f.text_field :nro_documento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :calle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :calle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Número de Calle", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nro_calle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :piso, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :piso, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :depto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :depto, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estado_civil_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:estado_civil_id, EstadoCivil.all, :id, :nombre) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sexo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:sexo_id, Sexo.all, :id, :nombre) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fecha_nacimiento, :class => 'control-label' %>
    <div class="controls">
      <%= f.datepicker :fecha_nacimiento, :id => "datepicker" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :localidad_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                personas_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
        
          $("#datepicker").datepicker({dateFormat:"dd-mm-yy",
          dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
          changeYear: true,
          yearRange: "1910:<%= Date.today.year + 10 %>", 
          monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          navigationAsDateFormat: true,
          nextText: "Sig", 
          prevText: "Ant", 
          showAnim: "explode"
            });

    </script>
