<%= form_for(@situacion_revistum) do |f| %>
  <% if @situacion_revistum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situacion_revistum.errors.count, "error") %> prohibited this situacion_revistum from being saved:</h2>

      <ul>
      <% @situacion_revistum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
